.container > .row {
    margin-top: 50px;
}

.undevoured button {
    float: right;
}

.title {
    text-align: center;
}

ul li {
    height: 65px;
}

.input-burger {
    width: 50%;
    height: 50px;
}

.input-row {
    text-align: center;
}